<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <martinkuhl_authelia_oidc>
            <general>
                <enabled>0</enabled>
                <scope>openid email profile</scope>
                <username_claim>email</username_claim>
            </general>
        </martinkuhl_authelia_oidc>
    </default>
</config>